/*Para los menu laterales de las páginas(aside) usar la clase común class="nav-lateral" y utilizar el mismo número de grillas por contenedor envolvente principales.
Para los títulos utilizar la clase class="titulo-test"*/
/* h3 font.size 28px bebas neue p font.size 18px*/
/*Media query a 640 x 681px como el sm de tailwind */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */   
   /* color: white;*/
}

/* -----PÁGINA PRINCIPAL----- */ /****colocar la img *****/
#container-principal {
    display: flex ;
    flex-direction: column;
    height: 100vh;
    color: white;
}
/*-Navegación-*/
#nav-contprin {
    display: flex;
    height: 80px;
    background-color: rgba(80, 80, 80, 1);
}
#nav-frase {/*Falta la fuente*/
    display: flex;
    align-items: center;
    word-wrap: break-word;
    width: 60%;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}
#nav-enlaces {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around ;
    width: 40%;
    font-family: 'Roboto', sans-serif;
}
#nav-enlaces > a:hover {/*Los dos pixeles */
    color: rgba(21, 213, 166, 1);
    border-bottom: 2px solid rgba(21, 213, 166, 1);
}
#nav-enlaces > a {
    color: white;
}
/*-Cuerpo-*/
#cuerpo-contprin {
    height: 90%;/*Solo puedo ponerlo a 80*/
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,70px);/*No se puede poner los 70px*/
    background-image:url(img/fondoPrincipal.jpg);/*Solo sale gradiente en tailwindcss*/
    background-size: 100% 100%;/*No se puede poner al 100%*/
}
/*Imagen */
#img-cuerpo-contprin {/*No se posiciona en su sitio porque el contenedor anterior no tiene bien los templates*/
    border-radius: 60%;
    height: 90%;
    grid-column: 2/6;
    grid-row: 3/8;
}
/*Sección central*/
#section-contprin {
    grid-column:7/12 ;
    grid-row: 3/9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*texto*/
#section-contprin > article {/*class article*/
    height: 68%;
    width: 80%;
    font-family: 'Roboto';/*No se como Añadir esta fuente*/
    word-wrap: break-word;/*No lo encuentro*/
}
.parrafo1-sect-contprin {
    font-size: 25px;
}
.spanp1 {
    font-family: 'Bebas Neue';/*Poner esta fuente*/
    color: rgba(21, 213, 166, 1);
    font-size: 30px;
}
.parrafo2-sect-contprin {
    font-size: 20px;
}
/*Botones*/
#btn-section-contprin {
    display: flex;
    justify-content: space-between;
    height: 15%;
    padding: 5px;
    width: 80%;
    margin-top: 20px;
}
#btn-section-contprin > a:hover {
    font-size: 20px;
}
.far {
    color: white;
    grid-column: 6/7;
    grid-row: 9/10;
    font-size: 50px;
}
.far:hover {
    color: rgba(21, 213, 166, 1);
    font-size: 60px;
}
